.link {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1;
}

.contentContainer {
  margin-top: 65px;
  display: flex;
  flex: 1;
}

.messageContainer {
  display: flex;
  flex: 1 1;
  margin-top: 65px;
  padding-left: 95px;
  flex-direction: column;
  margin-right: 60px;
}

.messageContainer p {
  font-family: monospace;
}

@media only screen and (max-width: 1020px) {
  .contentContainer {
    margin-top: 15px;
  }

  .messageContainer {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 820px) {
  .contentContainer {
    display: none;
  }
}

.nomargin {
  margin: 0px;
}

.topmargin {
  margin-top: 15px;
}