body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
}
